#include "base16-default-dark-256.Xresources"

xterm*renderFont: true
xterm*faceName: Consolas:style=Regular
xterm*faceSize: 14
xterm*faceNameDoubleSize: false
xterm*antialias: true 

XTerm*selectToClipboard: true
